.default {
    /*box-shadow: 0px 10px 14px -7px #276873;*/
    background-color: #4caf50;
    border-radius: 5px;
    border: 1px solid #4caf50;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    /*font-family: Verdana;*/
    font-size: 1em;
    font-weight: bold;
    padding: 5px 10px;
    text-decoration: none;
    text-shadow: 3px 2px 0px #3d768a;
}
.default>div {
    padding: 0;
    margin: 0;
}

.default:hover {
    background: linear-gradient(to bottom, #4caf50 10%, #599bb3 100%);
    border: 1px solid #29668f;
    box-shadow: 0px 10px 14px -7px #276873;
}
.default:active {
    position: relative;
    top: 2px;
}

button:active, button:focus {
    outline: none;
}
button::-moz-focus-inner {
    border: 0;
}

.red {
    color: #990000;
}

