.error {
	border: 1px solid red;
}
.overlayGreeting {
	position: relative;
	display: flex;
	justify-content: flex-start;

}
.overlayGreeting > div {
	margin: 0 10px;
}

.ErrorNameInput {
	background: #B6CAB1;
	position: absolute;
	top: 1.4em;
	left: 0;
}

.opacity {
	opacity: 30%;
}